@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  .lora-medium{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .lora-semibold{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .lora-light{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.page {
    margin-right: 0.5rem;
    padding: 0.25rem 0.8rem;
    border: 1px solid #cbd5e0;
    color: #4a5568;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
}
.page:hover {
    background-color: #68B5D2;
    color: white;
}
.active-btn {
    background-color: #EF7B84;
    color: white;
}
.prev,
.next {
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #cbd5e0;
    color: #4a5568;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.prev:hover,
.next:hover {
  background-color: #68B5D2;
  color: white;
}

.title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 10px;
}

.text{
    color: #514f4f;
}
  